@import url("https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,100;0,300;1,900&display=swap");
@import url("./off-anims.css");
.test {
  width: 75vh;
  height: 75vh;
  background-color: rgb(154, 144, 211);
  border: 5px solid rgb(144, 130, 224);
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  font-style: initial;
  font-size: 50px;
  color: gold;
  margin-top: 10px;
}

.score {
  color: black;
}

.button-clicker {
  width: 29vh;
  height: 29vh;
  border: 2px solid rgb(0, 78, 167);
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    rgb(0, 128, 187),
    rgb(0, 151, 221)
  );
  margin-left: 150px;
  margin-top: 250px;
  outline: none;
  position: absolute;
  font-weight: bold;
  font-size: 50px;
  font-family: Piazzolla;
  justify-content: center;
}

/* settings */

.settingsContainer {
  background-color: rgb(173, 173, 173);
  border: 3px solid rgb(119, 118, 118);
  border-radius: 5px;
  padding: 1vh;
}
