@import url("https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,100;0,300;1,900&display=swap");
@import url("./off-anims.css");

body {
  background: rgb(53, 53, 53);
  margin: 0;
}

.mainContentContainer {
  display: flex;
  align-items: flex-start;
}

.mainGame {
  align-items: center;
  width: 500px;
  height: 500px;
  background-color: rgb(154, 144, 211);
  border: 5px solid rgb(144, 130, 224);
  color: gold;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  font-style: initial;
  font-size: 50px;
  margin-top: 10px;
}
.mainGame {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.score {
  color: black;
}

.button-clicker {
  width: 200px;
  height: 200px;
  border: 2px solid rgb(0, 78, 167);
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    rgb(0, 128, 187),
    rgb(0, 151, 221)
  );
  color: white;
  font-weight: bold;
  font-size: 50px;
  font-family: Piazzolla;
}

.shopContainer {
  width: 100%;
  height: 500px;
  background-color: rgb(154, 144, 211);
  border: 5px solid rgb(144, 130, 224);
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  font-style: initial;
  font-size: 50px;
  color: gold;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* settings */

.settingsContainer {
  background-color: rgb(173, 173, 173);
  border: 3px solid rgb(119, 118, 118);
  border-radius: 5px;
  padding: 1vh;
}
